.projetos {
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 1920px;
    text-align: center;
    margin: 0 auto;
    margin-top: 3vh;
    padding: 20px;
}

.h1-projetos {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.486);
}

.projetos i {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.486);
    margin-top: 10px;
}